<div class="container register-form">
  <div class="form">
      <div class="note">
          <p>Edit Form</p>
      </div>

    <div class="form-content">
        <%= form_for(@user, url:edit_path) do |f|%>
        <%= render 'shared/error'%>

          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                    <%= f.text_field :username, class: 'form-control',placeholder:'Username' %>
                </div>
                <div class="form-group">
                    <%= f.email_field :email, class: 'form-control',placeholder:'Email' %>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                    <%= f.password_field :password, class: 'form-control',placeholder:'Password' %>
                </div>
                <div class="form-group">
                    <%= f.password_field :password_confirmation, class: 'form-control',placeholder:'Password Confirmation' %>
                </div>
              </div>
          </div>
          <%= f.submit "Edit ", class:'center btnSubmit' %>
        <% end %>
      </div>
  </div>
</div>