
<head>
<%= csrf_meta_tags %>
</head>

<div class="container register-form">
  <div class="form">
      <div class="note">
          <p>This is a simpleRegister Form</p>
      </div>

    <div class="form-content">
        <%= form_tag("/users",method: "post") do %>
        <%= render 'shared/error'%>

          <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <%= text_field_tag(:username , '',class: 'form-control', placeholder: "Username")%>
                </div>
                <div class="form-group">
                  <%= email_field_tag(:email, '',class:'form-control' , placeholder: "Email")%>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <%= password_field_tag(:password, '',class: 'form-control', placeholder: 'Password')%>
                </div>
                <div class="form-group">
                  <%= password_field_tag(:password_confirmation, '',class: 'form-control',placeholder:'Password Confirmation') %>
                </div>
              </div>
          </div>
          <%= submit_tag "Register Account", class:'center btnSubmit' %>
        <% end %>
      </div>
  </div>
</div>
